<!DOCTYPE html>
<html>
<head>
    <title>Untitled Document</title>
    <meta charset="UTF-8">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<main>
    <header>
    <h1>LOGO</h1>
    <div id="snsbox">
        <div id="sns1">1</div>
        <div id="sns2">2</div>
    </div>
    </header>

<nav>
  <ul>
      <li><a href="#">navi</a></li>
      <li><a href="#">navi</a></li>
      <li><a href="#">navi</a></li>
      <li><a href="#">navi</a></li>
      <li><a href="#">navi</a></li>
  </ul>
</nav>

<figure>
    <img src="images/main_ps.jpg" alt="ピアノと楽譜" width="1000px" height="400px">
</figure>

<article>
   <p>
       NTT東日本は5月28日、AI（人口知能）を搭載した防犯カメラによって万引き被害を削減するサービス「AIガードマン」提供を6月下旬に開始すると発表した。行動検知システムを手がけるベンチャー企業のアースアイズが開発したAIカメラと、NTT東日本のクラウドサービスを組み合わせて提供する。AIカメラの価格は1台23万8000円（税別、設置費別）で、クラウドの利用料は月額4500円（同）から。(BCN)
   </p>
   <br>
    <h1>NEWS</h1>
    <div class="news">
        <ul>
            <li>HOP</li>
            <li>STEP</li>
            <li>友情努力勝利！</li>
        </ul> 
    </div> 
</article>

<aside>
    <ul>
        <li>バナー</li>
        <li>バナー</li>
        <li>バナー</li>
    </ul> 
</aside>

<footer>
    <p>&copy;2018 technos Allright Reserved.</p>
</footer>

</main>
</body>
</html>